@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} 

.gradient-text {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, rgb(110, 2, 110), rgb(138, 4, 138), rgb(235, 3, 235));
    display: inline-block;
    
  }